body {
  background: linear-gradient(to bottom, #a1baff, #a3d4ff);
  color: white;
}

.navbar {
  background-color: white;
  border: none;
  color: white;
}

.second-col {
  background-color: #8ca9f85e;
  border-radius: 18px;
}
