body {
  background: linear-gradient(to bottom, #a1baff, #a3d4ff);
  color: white;
}

.navbar {
  background-color: white;
  border: none;
  color: white;
}

.second-col {
  background-color: #8ca9f85e;
  border-radius: 18px;
}

.navbar {
  background-color: transparent !important;
}

.navbar .nav-link {
  color: white !important;
}

.navbar .nav-link:hover {
  color: lightgray !important;
}

.cardhover:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}
