body {
  background: linear-gradient(to bottom, #a1baff, #a3d4ff);
  color: white;
}

.navbar {
  background-color: white;
  border: none;
  color: white;
}

.second-col {
  background-color: #8ca9f85e;
  border-radius: 18px;
}

.navbar {
  background-color: transparent !important;
}

.navbar .nav-link {
  color: white !important;
}

.navbar .nav-link:hover {
  color: lightgray !important;
}
.cardhover {
  transition: transform 0.3s ease;
  background-color: rgba(0, 4, 255, 0.07);
}

.cardhover {
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.cardhover:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.055);
  cursor: pointer;
}

.placeholder-white::placeholder {
  color: white !important;
}
